{erl_opts, [
	{parse_transform, lager_transform}
]}.

{xref_checks,[
	undefined_function_calls,
	undefined_functions,
	locals_not_used,
	deprecated_function_calls,
	deprecated_functions
]}.

{profiles, [
	{prod, [
		{relx, [
			{release, {"rr", "1.0.3"}, [rr]},
			{dev_mode, false},
			{include_erts, true}
		]}
	]},
	{devel, [
		{relx, [
			{release, {"rr", "1.0.3"}, [rr, fs_sync]},
			{dev_mode, true},
			{include_erts, false}
		]},
		{erl_opts, [
			debug_info,
			warn_export_all,
			warn_export_vars,
			warn_shadow_vars,
			warn_obsolete_guard
		]},
		{deps, [fs_sync]}
	]}
]}.

{relx, [
	{extended_start_script, true},
	{vm_args, "config/vm.args"},
	{sys_config, "config/sys.config"}
]}.


{plugins, [rebar3_hex]}.

{dialyzer, [
	{warnings, [
%		no_return,
%		no_unused,
%		no_improper_lists,
%		no_fun_app,
%		no_match,
%		no_opaque,
%		no_fail_call,
%		no_contracts,
%		no_behaviours,
%		no_undefined_callbacks,
%		unmatched_returns,
%		error_handling,
%		race_conditions,
%		overspecs,
%		underspecs,
%		specdiffs
	]},
	{get_warnings, true},
	{plt_apps, top_level_deps},
	{plt_extra_apps, [
		cowlib, ranch, fs_sync, fs_event, cowboy, goldrush, lager
	]},
	{plt_location, local},
	{plt_prefix, "reachme"},
	{base_plt_apps, [
		erts, kernel, stdlib, crypto, mnesia, asn1, compiler, eunit, hipe, inets, public_key, runtime_tools, ssl, syntax_tools, tools, edoc
	]},
	{base_plt_location, global},
	{base_plt_prefix, "global"}
]}.

{deps, [
	{cowboy, "2.0.0"},
	lager
]}.
